{% load static %}


<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="{% static 'gestion_cita/style.css'%}">
    <head>
        <title>Sistema Historia Clínica</title>
        

        

    </head>


    <body>

       
        <div class="menu">

            <div>
                <b>Clinica_Proyecto</b>
            </div>

            <div>
                <a href="#">Inicio</a>
                <a href="#">Pacientes</a>
                <a href="#">Historia Clinica</a>
                <a href="#">farmacia</a>
                <a href="#">facturacion</a>
            </div>

        </div>


               
        <div class="contenedor">

            <h1>Gestion de Citas</h1>
            
            
                <p>
                Bienvenido al modulo de asignacion de citas {{usuario}}
                </p>

                <p>
                Desde este modulo se pueden asignar las siguientes citas disponibles.
         
            </p>

            {% if citas %}
            <ul>
                {% for cita in citas %}
                    <li>
                        {{cita.medico}} - {{cita.hora}} -
                        {% if cita.estado == "Disponible" %}
                            <span class="disponible">Disponible</span>
                        {% else %}
                            <span class="no_disponible">No disponible</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No hay citas</p>
            {% endif %}
        </div>
   
          
</div>

  
    </body>

    </html>