{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clínica Proyecto</title>


    {% load static %}

<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

    <!-- ================= NAVBAR ================= -->

    <div class="navbar">

        <div class="logo">
            <img src="{% static 'img/LogoSinFondo.png' %}">
            <span>Clínica Proyecto</span>
        </div>

        <div class="menu">
            <a href="#">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>

            <a href="/Login/" class="btn">Iniciar Sesión</a>

            <a href="/Registro/" class="btn">Registrarse</a>
        </div>

    </div>

    <!-- ================= HERO ================= -->

    <section class="hero">

        <div class="hero-contenido">

            <h1>Sistema Inteligente para Gestión Clínica</h1>

            <p>
                Administra historias clínicas, citas médicas,
                farmacia y facturación desde un solo lugar
                de forma rápida y segura.
            </p>

            <a href="/registro/">Comenzar</a>

        </div>

        <div class="hero-imagen">
            <img src="{% static 'img/LogoSinFondo.png' %}">
        </div>

    </section>

    <!-- ================= SERVICIOS ================= -->

    <section class="servicios">

        <h2>Nuestros Módulos</h2>

        <div class="cards">

            <div class="card">
                <h3>🏥 Historia Clínica</h3>
                <p>Gestión completa de pacientes y diagnósticos.</p>
            </div>

            <div class="card">
                <h3>📅 Agendamiento</h3>
                <p>Reserva y control de citas médicas.</p>
            </div>

            <div class="card">
                <h3>💰 Facturación</h3>
                <p>Administración de pagos y facturas.</p>
            </div>

            <div class="card">
                <h3>💊 Farmacia</h3>
                <p>Control de medicamentos e inventario.</p>
            </div>

        </div>

    </section>

</body>
</html>